@import "../../styles/utils";

.theme_card{
    background-color: $white;
    border-radius: $border-radius-mini ;
    border: 1px solid #f4f4f4;
    padding: 14px;
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    position: relative;
    z-index: 3;
    .image_section{
        flex: 0 0 115px;
        max-width: 115px;
        border-radius: $border-radius-mini ;
        overflow: hidden;
        figure{
            --bs-aspect-ratio: calc((50/50) * 100%);
        }
    }
    .content_section{
        flex: 1 1;
        .theme{
            &_name{

            }
            &_desc{

            }
            &_price{
                
            }
        }
    }
}