@import "../../styles/utils";

.search_component{
    position: relative;
    background-color: $custom-yellow;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    flex: 0 0 43px;
    transition: 0.3s all ease-in-out;
    &.expand{
        flex: 1 1;
        input{
            width: 100%;
        }
    }
    input{
        border:none;
        background-color: transparent;
        font-size: 16px;
        font-weight: $regular;
        color: $font-color;
        padding-inline-start: 10px;
        outline: none;
        box-shadow: unset;
        width: 0%;
        transition: 0.3s all ease-in-out;
        &::placeholder{
            color: $font-color;
            opacity: 0.6;
        }
    }
}

.search_overlay{
    top: var(--bs-header-height);
    background-color: #0000006e;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
}

.search_btn{
    border: none;
    background-color: unset;
    padding: 0;
    flex: 0 0 27px;
    img{
        width: 27px;
        height: 27px;
    }
}
.search_list{
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    background-color: $custom-yellow;
    padding: 16px;
    border-radius: 8px;
    z-index: 9;
    list-style: none;
    &::-webkit-scrollbar{
        display: none;
    }
    &_item{
        padding-block: 8px;
        &_link{
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 8px;
            figure{
                max-width: 60px;
                --bs-aspect-ratio: calc((45/60) * 100%);
                overflow: hidden;
                img{
                    transition: 0.3s all ease-in-out;
                    will-change: transform;
                }
            }
            .title{
                font-size: 14px;
                font-weight: $medium;
                color: $font-color;
            }
            @include hover{
                figure{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}