@import "../../styles/utils";

.package_slider{
    padding: 60px 0;
    scroll-margin-top: 50px;
    overflow: hidden;
    @include max(575.98) {
        padding: 40px 0 0;
    }
    .slider_wrapper{
        margin-top: 40px;
    }
}

.slider_wrapper_mob{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    column-gap: 12px;
    padding-top: 25px;
    margin-inline: -12px;
    padding-inline: 12px;
    &::-webkit-scrollbar{
        display: none;
    }
    .slider_item{
        flex: 0 0 45%;
        width: 45%;
    }
}