@import "../../styles/utils";

.fixed_part{
    position: fixed;
    left: 0px;
    top: 38%;
    z-index: 9;
    height: auto;
}
.button_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .icon_btn{
        border-radius: 40px;
        background-color: $font-color;
        --bs-btn-padding-x: 4px;
        --bs-btn-padding-y: 4px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateX(10px);
        transition: 0.3s all ease-in-out;
        width: max-content;
        span{
            color: $font-color;
            font-size: 0;
            padding-inline-end: 0px;
            transition: 0.3s all ease-in-out;
        }
        svg{
            path{
                transition: 0.3s all ease-in-out;
            }
        }
        @include hover{
            background-color: $custom-yellow;
            span{
                font-size: 14px;
                padding-inline-end: 10px;
            }
            svg{
                path{
                    fill: $font-color !important;
                }
            }
        }
    }
}